@media(max-width: 768px){
    .home-news-col>.elementor-widget-wrap.elementor-element-populated {
        flex-wrap: nowrap;
        flex-direction: row;
        height: 500px !important;
        min-height: 500px !important;
    }
    .home-news-box .elementor-widget-image img {
        object-position: top;
        min-height: 400px;
        max-height: 400px;
        max-width: 80vw !important;
        object-fit: cover;
        /*margin-right:20px;*/
    }
    .home-news-item > .elementor-container.elementor-column-gap-no{
        max-height: 400px;
        min-height: 400px !important;
        width: 70vw !important;
        padding: 16px !important;
        /*margin-right:20px;*/

    }
    .home-news-box .home-news-item_img .elementor-element-populated .elementor-widget-text-editor {
        left: 0px;
        bottom: 0px;
        width: 90%;
        padding: 24px;
    }
    .home-news-box > .elementor-container > .home-news-col > .elementor-widget-wrap > section {
        width: 100%;
    }
}